{% extends 'base1.html' %}
{% block content %}
<div class="topButtons ListPosition">
  <a href="{% url 'warehouse_config:warehouse_create'%}" class="btn btn-primary" style="margin:10px">Create Warehouse</a>
</div>
<div class="card shadow mb-4 ListPosition">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Warehouses</h6>
    </div>
    {% if object_list %}
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Location</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Responsible</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Location</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Responsible</th>
                <th>Actions</th>
            </tr>
            </tfoot>
            <tbody>                    
                {% for configurations in object_list %}
                <tr>
                    <td>{{ configurations.id }}</td>
                    <td>{{ configurations.name }} </td>
                    <td>{{ configurations.location }} </td>
                    <td>{{ configurations.addres }}</td>
                    <td>{{ configurations.phone_number}} </td>
                    <td>
                      {{ configurations.warehouse_count}}
                      <a class="stockist_list" data-urlstockists="{% url 'warehouse_config:stockist_list' %}" data-pk="{{configurations.id}}" data-toggle="modal" data-target="#Modal_list" href="#" ><i class="fas fa-users"></i></a>
                    </td>
                    <td> 
                      <a class="btn btn-warning" href="#" data-toggle="modal" data-target="#Modal_stockist" data-pki="{{configurations.id}}">Add/Edit Responsibles</a>
                      <a class="btn btn-primary" href="{%url 'body_config:body_update' configurations.id%}">Edit</a>
                      <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#Modal_element_delete" data-pk="{{configurations.id}}">Delete</a>              
                    </td>
                </tr>
                {% endfor %}                                  
            </tbody>
        </table>
        </div>
    </div>
    {% else %}
        <h1>There are no request records</h1>
    {% endif %}  
    </div>
 </div>
{% comment %} Delete Modal {% endcomment %}
<div class="modal fade" id="Modal_element_delete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons"></i>
        </div>        
        <h4 class="modal-title">Are you sure? </h4>  
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>                
      </div>
      <div class="modal-body">
        <p>Do you really want to delete these records? This process cannot be undone.</p>  
			</div>
			<div class="modal-footer">
        <form action="{% url 'body_config:body_delete' %}" method="POST">
          {% csrf_token %}        
          <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger" name="body_part_id" id="delete" value="">Delete </button>
        </form>
      </div>
      </div>      
    </div>
  </div>
</div>
{% comment %} Stockists Modal {% endcomment %}
<div class="modal fade" id="Modal_stockist" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Assign Stockists</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'warehouse_config:stockists' %}" method="post">
          {% csrf_token %}			
          <div class="form-group">
            <select class = "form-control" name="stockists">
                <option value="" selected="selected">-------------</option> 
              {% for configuration in stockists %}
                <option value="{{ configuration.id }}">{{ configuration.name }} - {{ configuration.position }}</option> 
              {% endfor %} 
            </select>
          </div>
          <div class="form-group">
              <label> Grant input                 
                <input type="checkbox" name="ginput" data-toggle="toggle" data-on="On" data-off="Off" data-onstyle="warning">                   
              </label>
              <label> Grant output                 
                <input type="checkbox" name="goutput" data-toggle="toggle" data-on="On" data-off="Off" data-onstyle="warning">                   
              </label>
          </div> 
          <button type="submit" class="btn btn-primary" id="stock" name="warehouse" value="">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>      
    </div>
  </div>
</div>
{% comment %} Stockists List Modal {% endcomment %}
<div class="modal fade" id="Modal_list" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Stockists List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="stck">

      </div>      
    </div>
  </div>
</div>
{% endblock%}