
.logoiXerv{
    width: 15rem; 
    height: 100%;
    /* border:10px blue solid;  */
    padding: 0 20px 0 0 ;
}
.copyRight{
    position: relative;
    /* border: 10px rebeccapurple  solid; */
    justify-content: left;
    padding: 0 70% 0 0 ;
}

.topButtons{
    display:flex; 
    flex-direction: row-reverse;
}

.AdjustForm{
    position: relative;
    left: 300px;
    /* border:10px blue solid;  */
}
.ListPosition{
    position: relative;
}
.footerStyle{
    position: relative; 
    bottom:0; 
    display:flex;
    justify-content: center;
    width: 100%;
    /* border:10px solid green;   */
    height: 7%;
}

@media only screen and (max-width: 600px){
    .footerStyle{
        position: relative; 
        bottom:0; 
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        /* border:10px solid green;   */
        height: 7%;
    }
    .logoiXerv{
        width: 15rem; 
        height: 100%;
        margin: auto;
        padding: 0 20px 0 0 ;
    }
}

.SizetopButtons{
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
    margin:10px;
}
.equipmentForm{
    display: flex;
    flex-direction: row;
    /* border:10px blue solid; */
    justify-content: flex-start;
    flex-wrap: wrap;
}