{% extends 'base1.html' %}
{% block content %}
<div class="SizetopButtons ListPosition" >
  <div class="dropdown">    
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ filt }}
      </button>    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'equipment_config:equipment_list'%}">All</a>
        {% for configuration in element_classification %}
          <a class="dropdown-item" href="?filter={{ configuration.id }}">{{ configuration.name }}</a>
        {% endfor %} 
      </div>
  </div>
  <div>
    <a href="{% url 'equipment_config:equipment_create'%}" class="btn btn-primary" style="margin:10px">Create Equipment</a>
  </div>
</div>
<div class="card shadow mb-4 ListPosition">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Equipment</h6>
    </div>
    {% if object_list %}
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="card-table" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Name</th>
                <th>Time of life</th>
                <th>Description</th>
                <th>Work Activities</th>
                <th>Manteinance Cleaning</th>
                <th>Mode of Use</th>                
                <th>Start Date</th>                
                <th>End Date</th>                
                <th>Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Time of life</th>
                <th>Description</th>
                <th>Work Activities</th>
                <th>Manteinance Cleaning</th>
                <th>Mode of Use</th>                
                <th>Start Date</th>                
                <th>End Date</th>                
                <th>Actions</th>
            </tr>
            </tfoot>
            <tbody>                    
                {% for configurations in object_list %}
                <tr>
                    <td>{{ configurations.name }}</td>
                    <td>{{ configurations.time_of_life }} </td>
                    <td>{{ configurations.description }} </td>
                    <td>
                    {% for objs_work in configurations.work_activities.all %}
                        {{ objs_work.name }},
                    {% endfor %}

                    </td>
                    <td>{{ configurations.manteinance_cleaning}} </td>
                    <td>{{ configurations.mode_use}} </td>
                    <td>{{ configurations.start_date}} </td>
                    <td>{{ configurations.end_date}} </td>
                    <td> 
                    <a class="btn btn-primary" href="{%url 'equipment_config:equipment_update' configurations.id%}">Edit</a>
                    <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#Modal_element_delete" data-pk="{{configurations.id}}">Delete</a>              
                    </td>
                </tr>
                {% endfor %}                                  
            </tbody>
        </table>
        </div>
    </div>
    {% else %}
        <h1>There are no request records</h1>
    {% endif %}  
    </div>
 </div>
{% comment %} Delete Modal {% endcomment %}
<div class="modal fade" id="Modal_element_delete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons"></i>
        </div>        
        <h4 class="modal-title">Are you sure? </h4>  
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>                
      </div>
      <div class="modal-body">
        <p>Do you really want to delete these records? This process cannot be undone.</p>  
			</div>
			<div class="modal-footer">
        <form action="{% url 'equipment_config:equipment_delete' %}" method="POST">
          {% csrf_token %}        
          <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger" name="equipment_id" id="delete" value="">Delete </button>
        </form>
      </div>
      </div>      
    </div>
  </div>
</div>
{% endblock%}