{% extends 'base1.html' %}
{% block content %}
<div class="topButtons ListPosition">
    <div class="dropdown" style="text-align: right; margin:10px">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Create
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Modal_element_type">Element Type</a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Modal_element_class">Element Class</a>
      </div>
    </div>
      <a href="{% url 'configurations:type_list'%}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="margin:10px"> View Element Type</a>
</div>


<div class="card shadow mb-4 ListPosition">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Element Classification</h6>
  </div>
{% if object_list %}
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered " id="dataTable" width="10%" cellspacing="3px">
        <thead>
          <tr>
            <th>#</th>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Create/Edit Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Create Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>        
          {% for configurations in object_list %}
          <tr>
            <td>{{ configurations.id }}</td>
            <td>{{ configurations.code }} </td>
            <td>{{ configurations.name }} </td>
            <td>{{ configurations.description }}</td>
            <td>{{ configurations.element_type.code }}</td>
            <td>{{ configurations.create_date}} </td>
            <td>
            <div class="text-center"> 
              <div class="checkbox">
                <label>                  
                  <input type="checkbox" class="ClassificationStatus" data-changestatus="{% url 'configurations:update_status' pk=configurations.id %}" data-toggle="toggle" data-on="On" data-off="Off" {% if configurations.status is True %}checked{% endif %} >                              
                </label>
              </div>
            </div>
            </td>
            <td> 
              <a class="btn btn-primary" href="{%url 'configurations:update_element_classification' configurations.id%}">Edit</a>
              <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#Modal_element_delete" data-pk="{{ configurations.id }}">Delete</a>              
            </td>
          </tr>
            {% endfor %}                        
        </tbody>
      </table>
  {% else %}
    <h1>There are no request records</h1>
  {% endif %} 
  </div>
</div>

{% comment %} Element type Modal {% endcomment %}
<div class="modal fade" id="Modal_element_type" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Element Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
			{% csrf_token %}
          	<div class="form-group">
					<label for="{{form.code.id_for_label}}">{{form.code.label}}</label>
					{{form.code}}
			</div>
          	<div class="form-group">
					<label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
					{{form.name}}
			</div>
			<div class="form-group">
					<label for="{{form.description.id_for_label}}">{{form.description.label}}</label>
					{{form.description}}
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>      
    </div>
  </div>
</div>
{% comment %} Element classification Modal {% endcomment %}
<div class="modal fade" id="Modal_element_class" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Element Class</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="element_classification" method="post">
			    {% csrf_token %}
          <div class="form-group">
            <label for="{{form2.code.id_for_label}}">{{form2.code.label}}</label>
            {{form2.code}}
			    </div>
          <div class="form-group">
            <label for="{{form2.name.id_for_label}}">{{form2.name.label}}</label>
            {{form2.name}}
			    </div>
          <div class="form-group">
              <label for="{{form2.description.id_for_label}}">{{form2.description.label}}</label>
              {{form2.description}}
          </div>
          <div class="form-group">
              <label for="{{form2.element_type.id_for_label}}">{{form2.element_type.label}}</label>
              {{form2.element_type}}
          </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>      
    </div>
  </div>
</div>
{% comment %} Delete Modal {% endcomment %}
<div class="modal fade" id="Modal_element_delete" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <i class="material-icons"></i>
        </div>        
        <h4 class="modal-title">Are you sure? </h4>  
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>                
      </div>
      <div class="modal-body">
        <p>Do you really want to delete these records? This process cannot be undone.</p>  
			</div>
			<div class="modal-footer">
        <form action="{% url 'configurations:delete_element_classification' %}" method="POST">
          {% csrf_token %}        
          <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger" name="element_type_id" id="delete" value="">Delete </button>
        </form>
      </div>
      </div>      
    </div>
  </div>
</div>
</div>
{% endblock%}

